@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --main-color: #3cb878;
}

html,
body {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

a,
li {
  text-decoration: none;
  color: #fff;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url("../img/Фон\ 1.png");
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.header-container {
  justify-content: flex-end;
  align-items: center;
  padding: 18px 5%;
  display: flex;
}

.logo {
  font-weight: 700;
  font-size: 22px;
  transition: all 0.5s ease 0s;
  margin-right: auto;
}
.logo:hover {
  color: var(--main-color);
}
.header-navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}

.navigation-item {
  display: inline-block;
  padding: 0 12px;
}

.navigation-list a path {
  transition: all 0.5s ease 0s;
}
.navigation-list .navigation-item a:hover path {
  fill: var(--main-color);
}

.line {
  width: 1px;
  border-top: 25px solid rgba(255, 255, 255, 0.5);
  margin-left: 13px;
}

.sign-container {
  display: flex;
  margin-left: 30px;
}
.sign-container span {
  margin-right: 5px;
}

.sign-menu {
  display: flex;
  gap: 3px;
}
.sign-menu li a:hover {
  transition: all 0.5s ease 0s;
}

.sign-menu li a:hover {
  color: var(--main-color);
}

/* MAIN */

main {
  flex: 1 1 auto;
}

.form {
  width: 444px;
  background-color: #fff;
  color: #434343;
  box-sizing: border-box;
  padding: 26px 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.5);
  margin: 50px auto; /* отцентровать */
}

.header-form {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}

.header-form h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}
.log-in {
  color: #3cb878;
}
.green-box {
  width: 18px;
  height: 18px;
  left: -60px;
  background-color: #3cb878;
  position: absolute;
}

.login-btn {
  display: flex;
  gap: 16px;
  width: 100%;
}

.btn {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  height: 48px;
  border-radius: 3px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  border: none;
}

.facebook {
  padding: 17px 22px;
  background: #305db8;
}
.facebook-span {
  position: relative;
}

.facebook-span::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-left: 1px solid #0a162f;
  height: 28px;
  opacity: 0.1;
  left: -1em;
  top: 26%;
  margin-top: -10px;
}

.facebook:hover {
  background: #022263;
}

.google {
  padding: 15px 27px 15px 12px;
  background: #df4a32;
}
.google-span {
  position: relative;
}
.google-span::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-left: 1px solid #0a162f;
  height: 28px;
  opacity: 0.1;
  left: -1.5em;
  top: 26%;
  margin-top: -10px;
}

.google:hover {
  background: #ab1f09;
}

.or {
  margin: 30px 0 12px;
  width: 100%;
  text-align: center;
  color: #848484;
}
.or:before,
.or:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid #f2f2f2;
}
.or:after {
  margin: 0 -55% 0 0.5em;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.input-text {
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  height: 44px;
  color: #434343;
  padding: 15px 19px;
  margin-bottom: 16px;
}
.input-text::placeholder {
  color: #bebebe;
}
.input-text:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}

.terms-link {
  color: #3cb878;
}

/* .checkbox-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}
label {
	color: #000;
	cursor: default;
	font-weight: normal;
	line-height: 30px;
	padding: 10px 0;
	vertical-align: middle;
} */
/* label:before {
	content: " ";
	color: #000;
	display: inline-block;
	margin-right: 15px;
	position: relative;
	text-align: center;
	text-indent: 0px;
	width: 20px;
	height: 20px;
	background: #fff;
	border: 1px solid #e3e3e3;
	vertical-align: middle;
}
input:checked + input :before {
	content: "";
	background-image: url(../img/галочка.svg);
	z-index: 1;
	background-size: cover;
} */

.checkbox-container {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}
.checkbox {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
  margin-right: 5px;
}

.checkbox > input {
  display: none;
}

.checkmark {
  width: 100%;
  height: 100%;
  background-color: white;
}

.checkbox > input:checked + .checkmark {
  background-image: url(../img/галочка.svg);
  background-size: cover;
}

.create-account {
  margin-top: 20px;
  width: 100%;
  color: #fff;
  background: #3cb878;
  border-radius: 4px;
  padding: 16px 0;
}

.create-account:hover {
  background: #01813f;
}
